{{ form_start(form, {'attr': {'id': 'offcanvasOeuvreFormFields', 'class': 'offcanvas-form'}}) }}
    {{ form_widget(form) }}
    <div class="d-flex gap-2 mt-4">
        <button type="submit" class="btn btn-primary flex-grow-1">Enregistrer</button>
        <button type="button" class="btn btn-secondary flex-grow-1" data-bs-dismiss="offcanvas">Fermer</button>
    </div>
{{ form_end(form) }}
