{% extends 'base_admin.html.twig' %}

{%block title %}{{ 'Tableau de bord'|trans }}{% endblock %}

{% block admin_content %}
    <h1>{{ 'Tableau de Bord'|trans }}</h1>
    <p>{{ 'Welcome to the admin dashboard'|trans }}</p>
{% endblock %}