<!DOCTYPE html>

<title>New Collections</title>

{% block body %}
    <h1>Create new Collections</h1>

    {{ include('collections/_form.html.twig') }}

    <a href="{{ path('app_collections_index') }}">back to list</a>
{% endblock %}
