<!DOCTYPE html>

<title>New Reclamation</title>

{% block body %}
    <h1>Create new Reclamation</h1>

    {{ include('reclamation_admin/_form.html.twig') }}

    <a href="{{ path('reclamations') }}">back to list</a>
{% endblock %}
