{% extends 'base_admin.html.twig' %}

{%block title %}{{ 'Amateurs'|trans }}{% endblock %}

{% block admin_content %}
   
 
          <div class="row">
            <!-- Page Header -->
            <div class="col-lg-12 col-md-12 col-12">
              <div class="border-bottom pb-3 mb-3 d-flex justify-content-between align-items-center">
                <div class="d-flex flex-column gap-1">
                  <h1 class="mb-0 h2 fw-bold">
                    {{ page_title }}
                    <span class="fs-5">(12,105)</span>
                  </h1>
                  <!-- Breadcrumb  -->
                  <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item">
                        <a href="admin-dashboard.html">Tableau de bord</a>
                      </li>
                      <li class="breadcrumb-item"><a href="#">Utilisateurs</a></li>
                      <li class="breadcrumb-item active" aria-current="page">{{ page_title }}</li>
                    </ol>
                  </nav>
                </div>
                <div class="nav btn-group" role="tablist">
                  <button class="btn btn-outline-secondary active" data-bs-toggle="tab" data-bs-target="#tabPaneGrid" role="tab" aria-controls="tabPaneGrid" aria-selected="true">
                    <span class="fe fe-grid"></span>
                  </button>
                  <button class="btn btn-outline-secondary" data-bs-toggle="tab" data-bs-target="#tabPaneList" role="tab" aria-controls="tabPaneList" aria-selected="false">
                    <span class="fe fe-list"></span>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 col-md-12 col-12">
              <!-- Tab -->
              <div class="tab-content">
                <!-- Tab pane -->
                <div class="tab-pane fade show active" id="tabPaneGrid" role="tabpanel" aria-labelledby="tabPaneGrid">
                  <div class="mb-4">
                    <input type="search" class="form-control" placeholder="Rechercher {{ page_title }}" />
                  </div>
                  <div class="row gy-4">


                    <div class="col-xl-3 col-lg-6 col-md-6 col-12">
                      <!-- Card -->
                      <div class="card">
                        <!-- Card body -->
                        <div class="card-body d-flex flex-column gap-4">
                          <div class="text-center d-flex flex-column align-items-center gap-3">
                            <img id="photoPreview" src="#" alt="Prévisualisation" class="img-thumbnail" style="display: none; width: 50px; height: 50px;">
                          </div>
                          <div>
                            <div class="d-flex justify-content-between border-bottom py-2">
                              <span>Students</span>
                              <span class="text-dark">26,060</span>
                            </div>
                            <div class="d-flex justify-content-between border-bottom py-2">
                              <span>Instructor Rating</span>
                              <span class="text-warning">
                                4.5
                                <span>
                                  <svg xmlns="http://www.w3.org/2000/svg" width="11" height="11" fill="currentColor" class="bi bi-star-fill text-warning" viewBox="0 0 16 16">
                                    <path
                                      d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                                  </svg>
                                </span>
                              </span>
                            </div>
                            <div class="d-flex justify-content-between pt-2">
                              <span>Courses</span>
                              <span class="text-dark">3</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 col-12">
                      <!-- Card -->
                      <div class="card">
                        <!-- Card body -->
                        <div class="card-body d-flex flex-column gap-4">
                          <div class="text-center d-flex flex-column align-items-center gap-3">
                            <img id="photoPreview" src="#" alt="Prévisualisation" class="img-thumbnail" style="display: none; width: 50px; height: 50px;">
                          </div>
                          <div>
                            <div class="d-flex justify-content-between border-bottom py-2">
                              <span>Students</span>
                              <span class="text-dark">2,345</span>
                            </div>
                            <div class="d-flex justify-content-between border-bottom py-2">
                              <span>Instructor Rating</span>
                              <span class="text-warning">
                                4.5
                                <span>
                                  <svg xmlns="http://www.w3.org/2000/svg" width="11" height="11" fill="currentColor" class="bi bi-star-fill text-warning" viewBox="0 0 16 16">
                                    <path
                                      d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                                  </svg>
                                </span>
                              </span>
                            </div>
                            <div class="d-flex justify-content-between pt-2">
                              <span>Courses</span>
                              <span class="text-dark">2</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 col-12">
                      <!-- Card -->
                      <div class="card">
                        <!-- Card body -->
                        <div class="card-body d-flex flex-column gap-4">
                          <div class="text-center d-flex flex-column align-items-center gap-3">
                            <img id="photoPreview" src="#" alt="Prévisualisation" class="img-thumbnail" style="display: none; width: 50px; height: 50px;">
                          </div>
                          <div>
                            <div class="d-flex justify-content-between border-bottom py-2">
                              <span>Students</span>
                              <span class="text-dark">14,994</span>
                            </div>
                            <div class="d-flex justify-content-between border-bottom py-2">
                              <span>Instructor Rating</span>
                              <span class="text-warning">
                                4.5
                                <span>
                                  <svg xmlns="http://www.w3.org/2000/svg" width="11" height="11" fill="currentColor" class="bi bi-star-fill text-warning" viewBox="0 0 16 16">
                                    <path
                                      d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                                  </svg>
                                </span>
                              </span>
                            </div>
                            <div class="d-flex justify-content-between pt-2">
                              <span>Courses</span>
                              <span class="text-dark">7</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 col-12">
                      <!-- Card -->
                      <div class="card">
                        <!-- Card body -->
                        <div class="card-body d-flex flex-column gap-4">
                          <div class="text-center d-flex flex-column align-items-center gap-3">
                            <img id="photoPreview" src="#" alt="Prévisualisation" class="img-thumbnail" style="display: none; width: 50px; height: 50px;">
                          </div>
                          <div>
                            <div class="d-flex justify-content-between border-bottom py-2">
                              <span>Students</span>
                              <span class="text-dark">1,223</span>
                            </div>
                            <div class="d-flex justify-content-between border-bottom py-2">
                              <span>Instructor Rating</span>
                              <span class="text-warning">
                                4.5
                                <span>
                                  <svg xmlns="http://www.w3.org/2000/svg" width="11" height="11" fill="currentColor" class="bi bi-star-fill text-warning" viewBox="0 0 16 16">
                                    <path
                                      d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                                  </svg>
                                </span>
                              </span>
                            </div>
                            <div class="d-flex justify-content-between pt-2">
                              <span>Courses</span>
                              <span class="text-dark">3</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 col-12">
                      <!-- Card -->
                      <div class="card">
                        <!-- Card body -->
                        <div class="card-body d-flex flex-column gap-4">
                          <div class="text-center d-flex flex-column align-items-center gap-3">
                            <img id="photoPreview" src="#" alt="Prévisualisation" class="img-thumbnail" style="display: none; width: 50px; height: 50px;">
                          </div>
                          <div>
                            <div class="d-flex justify-content-between border-bottom py-2">
                              <span>Students</span>
                              <span class="text-dark">6,845</span>
                            </div>
                            <div class="d-flex justify-content-between border-bottom py-2">
                              <span>Instructor Rating</span>
                              <span class="text-warning">
                                4.5
                                <span>
                                  <svg xmlns="http://www.w3.org/2000/svg" width="11" height="11" fill="currentColor" class="bi bi-star-fill text-warning" viewBox="0 0 16 16">
                                    <path
                                      d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                                  </svg>
                                </span>
                              </span>
                            </div>
                            <div class="d-flex justify-content-between pt-2">
                              <span>Courses</span>
                              <span class="text-dark">5</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 col-12">
                      <!-- Card -->
                      <div class="card">
                        <!-- Card body -->
                        <div class="card-body d-flex flex-column gap-4">
                          <div class="text-center d-flex flex-column align-items-center gap-3">
                            <img id="photoPreview" src="#" alt="Prévisualisation" class="img-thumbnail" style="display: none; width: 50px; height: 50px;">
                          </div>
                          <div>
                            <div class="d-flex justify-content-between border-bottom py-2">
                              <span>Students</span>
                              <span class="text-dark">8,234</span>
                            </div>
                            <div class="d-flex justify-content-between border-bottom py-2">
                              <span>Instructor Rating</span>
                              <span class="text-warning">
                                4.5
                                <span>
                                  <svg xmlns="http://www.w3.org/2000/svg" width="11" height="11" fill="currentColor" class="bi bi-star-fill text-warning" viewBox="0 0 16 16">
                                    <path
                                      d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                                  </svg>
                                </span>
                              </span>
                            </div>
                            <div class="d-flex justify-content-between pt-2">
                              <span>Courses</span>
                              <span class="text-dark">12</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-12">
                      <div>
                        <!-- Pagination -->
                        <nav>
                          <ul class="pagination justify-content-center mb-0">
                            <li class="page-item disabled">
                              <a class="page-link mx-1 rounded" href="#">
                                <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                                  <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"></path>
                                </svg>
                              </a>
                            </li>
                            <li class="page-item active">
                              <a class="page-link mx-1 rounded" href="#">1</a>
                            </li>
                            <li class="page-item">
                              <a class="page-link mx-1 rounded" href="#">2</a>
                            </li>
                            <li class="page-item">
                              <a class="page-link mx-1 rounded" href="#">3</a>
                            </li>
                            <li class="page-item">
                              <a class="page-link mx-1 rounded" href="#">
                                <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                                  <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"></path>
                                </svg>
                              </a>
                            </li>
                          </ul>
                        </nav>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- tab pane -->
                <div class="tab-pane fade" id="tabPaneList" role="tabpanel" aria-labelledby="tabPaneList">
                  <!-- card -->
                  <div class="card">
                    <!-- card header -->
                    <div class="card-header">
                      <input type="search" class="form-control" placeholder="Search Instructor" />
                    </div>
                    <!-- table -->
                    <div class="table-responsive">
                      <table class="table mb-0 text-nowrap table-hover table-centered">
                        <thead class="table-light">
                          <tr>
                            <th>Name</th>
                            <th>Topic</th>
                            <th>Courses</th>
                            <th>Joined</th>
                            <th>Students</th>
                            <th>Rating</th>

                            <th>Action</th>
                          </tr>

                      </table>
                      <!-- Pagination -->
                      <div class="card-footer">
                        <nav>
                          <ul class="pagination justify-content-center mb-0">
                            <li class="page-item disabled">
                              <a class="page-link mx-1 rounded" href="#">
                                <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                                  <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"></path>
                                </svg>
                              </a>
                            </li>
                            <li class="page-item active">
                              <a class="page-link mx-1 rounded" href="#">1</a>
                            </li>
                            <li class="page-item">
                              <a class="page-link mx-1 rounded" href="#">2</a>
                            </li>
                            <li class="page-item">
                              <a class="page-link mx-1 rounded" href="#">3</a>
                            </li>
                            <li class="page-item">
                              <a class="page-link mx-1 rounded" href="#">
                                <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                                  <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"></path>
                                </svg>
                              </a>
                            </li>
                          </ul>
                        </nav>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        
{% endblock %}